<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">Logo</a>
			<a href="" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="sass.html">Sass</a></li>
				<li><a href="badges.html">Components</a></li>
				<li><a href="collapsible.html">Javascript</a></li>
				<li><a href="mobile.html">Mobile</a></li>
			</ul>
		</div>
	</nav>
</div>
<ul id="slide-out" class="sidenav">
	<li><div class="user-view">
		<div class="background">
			<%= image_tag "office.jpg" %>
			
		</div>
		<a href="#user"><%= image_tag "icon-192x192.png", class: 'circle' %></a>
		<a href="#name"><span class="white-text name">John Doe</span></a>
		<a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
	</div></li>
	<li><a class="waves-effect" href="static_pages/index"><i class="material-icons">face</i>User</a></li>
	<li><a class="waves-effect" href="#!"><i class="material-icons">lightbulb_outline</i>Lab</a></li>
	<li><a class="waves-effect" href="#!"><i class="material-icons">settings</i>Capteur</a></li>
	
	<li><div class="divider"></div></li>
	<li>			<%= link_to static_pages_index_path, :class => 'waves-effect' do %>
  <i class="material-icons">info_outline</i><% end %></li>



</ul>